<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta id="viewport" name="viewport" content="user-scalable=yes, width=device-width, minimum-scale=.75, initial-scale=.75" />
		<title>O'SNAP</title>
		<link rel="stylesheet" href="css/jquery-ui.css">
		<link rel="stylesheet" href="css/jquery-ui.theme.min.css">
		<link rel="stylesheet" href="css/jquery-ui.structure.min.css">
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="css/notifier-base.css">
		<link rel="stylesheet" href="css/notifier-theme-clean.css">
		<link rel="stylesheet" href="css/notifier-theme-plastic.css">
		<link rel="icon" type="image/png" href="https://tlt-kgo.s3.amazonaws.com/kurogo/transit/osnap/osnap-o.png">
		<link rel="apple-touch-icon" href="https://tlt-kgo.s3.amazonaws.com/kurogo/transit/osnap/osnap-ipad.png">
	</head>
	<body>
		<section id="osnap">
			<div class="content"></div>
		</section>
		
		<!-- Templates -->
		<script type="text/template" id="requests-template">
			<div id="userInfo">
				Signed in as <%= $.cookie('user').name %> (<a href="#" class="log-out">Log out</a>)<br/>
				User Info (<a href="" class="user-info">Edit</a>)
			</div>
			<% if( $.cookie('user').isDriver == true){ %>
				<div id="switchViews">
					Switch to Driver View? (<a href="#" class="switchView">Switch</a>)
				</div><br>		
			<% } %>		
			<div style="display:none" id="changePassword" title="Change Password">
				<form class="changePasswordForm">
					Current Password: <input type="password" required class="currentPassword"><br/>
					New Password: <input type="password" required class="newPassword"><br/>
					Confirm New Password: <input type="password" required class="confirmNewPassword"><br/>
					<input type="submit" value="Submit" />
					<div class="changePassError" style="display:none">
						<p>New passwords do not match!</p>
					</div>
				</form>
			</div>
			<div class="datagrid">
				<table id='requests'>
					<thead>
						<tr>
							<th colspan="10">
								<div id="osnapStatus">
									<img class="osnapLogo" src="https://tlt-kgo.s3.amazonaws.com/kurogo/transit/osnap/osnap-logo.png">
									<h3 id="serviceRunning" style="display:none"><img id="startButton" class="serviceIcon" src="https://tlt-kgo.s3.amazonaws.com/kurogo/transit/osnap/artWork/greenButton.png"><span id="srM">Service is running!</span></h3>
									<h3 id="serviceStopped" style="display:none"><img id="stopButton" class="serviceIcon" src="https://tlt-kgo.s3.amazonaws.com/kurogo/transit/osnap/artWork/redButton.png"><span id="ssM">Service is stopped!</span></h3>
								</div>
								<div id="textRow2TableHeader">	
									Filter by Status:
									<select id='requestStatus'>
										<option value="0">New</option>
										<option value="1">Confirmed by Admin</option>
										<option value="2">Accepted by Driver</option>
										<option value="3">Picked Up</option>
										<option value="4">No Show</option>
										<option value="5">Delivered</option>	
										<option value="6">Cancelled</option>									
										<option value="7" selected="selected">Open</option>
									</select>
								</div>
							</th>
						</tr>																		
						<th>Location</th>
						<th>Destination</th>
						<th>Name</th>
						<th>Passengers</th>
						<th>Phone</th>
						<th>Date</th>
						<th>Time</th>
						<th>Status</th>																										
						<th>Assigned To</th>
						<th>Log</th>
					</thead>
					<tfoot>
						<tr>
							<td colspan="10">
								<div id="paging">
									<ul>		
										<li id="liAddNew"><a class="uiButton" href="#"><span class="uiButtonText" id="addNew">+ Add New</span></a></li>		
										<li id="liAdminData"><a class="uiButton" href="#"><span class="uiButtonText">Admin Data</span></a></li> 
										<li id="genLogs"><a class="uiButton" href="#"><span class="uiButtonText">Generate Logs</span></a></li>&nbsp&nbsp&nbsp&nbsp																		     	     
										<div id="pageNoDiv"><ul id="buttonBarTable"></ul></div>
									</ul>
									
									<div style="display:none" id="addNewView" title="Add New Request">
										<form class="addNewForm">
											<!-- anf abbreviates addNewForm-->
											Name: <input type="text" required class="anfName"><br/>
											Location: <select class="anfLocation"></select><br/>
											Destination: <select class="anfDestination"></select><br/>
											Passengers: <select class="anfPassengers"></select><br/>
											Phone: <input type="text" required class="anfPhone"><br/>
											<input type="submit" value="Submit"><button class="exitNewRequest ipadExit">Cancel</button>
											<div class="anfPhoneError" style="display:none">
												<p>The phone number entered is not in the proper format. <br/>
												Please enter the number in either XXX-XXX-XXXX or <br/>
												XXXXXXXXXX format. </p>
											</div>
										</form>
									</div>
									
									<div style="display:none" id="allLogs" title="Generate Logs">
										<h5>Please select a time frame</h5>
										<select class="timeFrame">
											<option value="0">Today</option>
											<option value="1">Yesterday</option>
											<option value="2">7 days</option>
											<option value="3">14 days</option>
											<option value="4">This month</option>
											<option value="5">Custom Range</option>
										</select>
										<form>
											<input type="radio" name="logType" value="0">Full Log<br/>
											<input type="radio" name="logType" value="1">Statistics
										</form>
										<div style="display:none" class="customTimeFrame">
											Start Date: <input class='start' type="text" /><br/>
											End Date: <input class='end' type="text" />
										</div>
										<button class="generateLogButton">Generate</button>										
										<div style="display:none" class="results">
											<div class="resultsText"></div>
											<br/><button class="export">Export</button>
										</div>	
										<button class="exitGenLogs ipadExit">Exit</exit>								
									</div>				
															
									<div style="display:none" id="adminInfo" title="Admin Info">
										<div class="tabs">
											<ul>
												<li>
													<a href="#fragment-1"><span>Locations</span></a>
												</li>
												<li>
													<a href="#fragment-2"><span>Users</span></a>
												</li>
												<li>
													<a href="#fragment-3"><span>Passengers</span></a>
												</li>			
												<li>
													<a href="#fragment-4"><span>On/Off</span></a>
												</li>									
											</ul>
											<div id="fragment-1">
												<form class="adminData">
													<fieldset>
														<legend>Locations</legend>
														<div class="locations">
															<strong>Active: </strong>
															<select class="activePlaces"></select>
															<button class="disableButton">Disable</button>							 
															<button class="deleteButton">Delete</button>
															<button class="editButton">Edit</button><br/>															
															<strong>Disabled: </strong>
															<select class="disabledPlaces"></select>
															<button class="enableButton">Enable</button>							 
															<button class="deleteButtonDisabled">Delete</button>
															<button class="editButtonDisabled">Edit</button><br/><br/>	
														</div>
													</fieldset><br/>
												</form>
												<form class="newLocationForm">	
													<fieldset>
														<legend>Add New</legend>					 
														Name: <input type="text" required class="newLocationName" /><br/>
														Description: <input type="text" required class="newLocationDes" /><br/>
														Image Short Name: <input type="text" class="newShortName"><br/><br/>
														<input type="submit" class="submit" />
													</fieldset>
												</form> 										   		
												<div style="display:none" id="editLocation" title="Edit Location">
													<form class="editLocationForm">
														<!-- elf denotes Edit Location Form-->
														Name: <label class="elfName"></label><br/>
														Description: <br/><textarea class="elfDescription" rows="4" cols="50"></textarea><br/>
														Image Short Name: <label class="shortNameWarning">Don't Edit Short Name Unless You Know What You're Doing</label><br/><input type="text" class="elfShortName" /><br/><br/>
														<input type="submit" value="Submit" /><button class="closeEditIpad ipadExit">Exit</button>
													</form>
												</div>
											</div>
											<div id="fragment-2">
												<form class="manageUsers">
													<fieldset>
														<legend>Manage Access</legend>
														<strong>Users: </strong>
														<select class="users"></select><br>
														<div class="userAttributes" style="display:none"><br>
															Is Admin: <select class="isAdmin"><option value="true">true</option><option value="false">false</option></select><br>
															Is Driver: <select class="isDriver"><option value="true">true</option><option value="false">false</option></select><br><br>
															<input type="submit" value="submit" class="accessOptions" style="display:none" />							
															<button class="cancel" class="accessOptions" style="display:none" >cancel</button>										
														</div>						
													</fieldset>
												</form>	
											</div>
											<div id="fragment-3">
												<form>
													<fieldset>
														<legend>Max Passengers</legend>
														Number: <input type="text" class="maxPassengersNumber" />
														<button class="updateButton">Update</button>				
													</fieldset>
												</form>	
											</div>
											<div id="fragment-4">
												<form>
													<fieldset>
														<legend>OSNAP Status</legend>
														<input type="radio" name="serviceStatus" value="1" class="serviceRadio1">On<br/>
														<input type="radio" name="serviceStatus" value="0" class="serviceRadio2">Off
													</fieldset>
												</form>
											</div>
										</div>
										<button class="ipadExit exitAdminInfo">Exit</button>
									</div>	
									
									<div style="display:none" id="editUserInfo" title="User Info">
										<div class="tabs">
											<ul>
												<li>
													<a href="#fragment-1"><span>Change Password</span></a>
												</li>
												<li>
													<a href="#fragment-2"><span>Update Email</span></a>
												</li>												
											</ul>
											<div id="fragment-1">
												<form class="changePasswordForm">
													Current Password: <input type="password" required class="currentPassword"><br/>
													New Password: <input type="password" required class="newPassword"><br/>
													Confirm New Password: <input type="password" required class="confirmNewPassword"><br/>
													<input type="submit" value="Submit" />
													<div class="changePassError" style="display:none">
														<p>New passwords do not match!</p>
													</div>
												</form>
											</div>
											<div id="fragment-2">
												<form class="updateEmailForm">
													Email: <input type="email" required class="userEmail"><br/>
													<input type="submit" class="emailUpdateSubmit" value="Submit" style="display:none"/>
												</form>
											</div>
										</div>
										<button class="ipadExit exitUserInfo">Exit</button>
									</div>
																																										
								</div> 
							</td>
						</tr>
					</tfoot>							
				</table>
			</div><br/>
		</script>
		
		<script type="text/template" id="request-template">
			<td>
				<select id='location'></select>
			</td>
			<td>
				<select id='destination'></select>
			</td>			
			<td>
				<span class="ipadTdSpan"><%= name %></span>
			</td>
			<td>
				<select id='numberPassengers'></select>
			</td>	
			<td>
				<span class="ipadTdSpan"><%= phone %></span>
			</td>
			<td>
				<span class="ipadTdSpan"><%= date || null %></span>
			</td>
			<td>
				<span class="ipadTdSpan"><%= time || null %></span>
			</td>	
			<td>
				<select id='status'>
					<% if( showLog ) {%>
						<option value="0">New</option>
					<% } %>
					<option value="1">Confirmed by Admin</option>
					<option value="2">Accepted by Driver</option>
					<option value="3">Picked up</option>
					<option value="4">No show</option>
					<option value="5">Delivered</option>
					<option value="6">Cancelled</option>
				</select>
				<button id='confirmCancel' style="display:none">Confirm</button>			
			</td>							
			<td>
				<select id='assignment'>
					<option value="n/a">Not assigned</option>
				</select>
			</td>
			<% if( showLog ) {%>
				<td>
					<button id="viewLog">View Log</button>
					<button id="deleteRide">Delete</button>
				</td>
				<td>
					<div style="display:none" id="log" title="Ride Log">
						<ul id="logList"></ul>
						<button class="exitLog ipadExit">Exit</button>
					</div>
				</td>
			<% } %>			
		</script>		
		
		<script type="text/template" id="login-template">		
			<link rel="stylesheet" href="css/login.css">	
			<div id="login-form">
				<h3>OSNAP</h3>
				<fieldset>
					<form class="login-form">
						<input type="text" id="username" required autocapitalize="off" placeholder="Username" class="glowing-border"/>
						<input type="password" id="password" required placeholder="Password" class="glowing-border">
						<input type="email" id="email" required placeholder="Email" class="glowing-border" style="display:none" value="login@login.com"> 
						<input type="submit" value="Login" >
						<footer class="clearfix">
							<p class="pForgotInfo"><span class="info">?</span><a class="linkForgotInfo" href="#">Forgot Info?</a></p>
							<p><span class="info">?</span><a class="registeredInfo" href="#">Not Registered?</a></p>
						</footer>					
					</form>
				</fieldset>
			</div> 	
			<div style="display:none" id="forgotInfo" title="Forgot Info">
				<form class="forgotInfoForm">
					<input type="email" class="forgotInfoEmail glowing-border" required placeholder="Email">
					<input type="submit" value="Submit" class="forgotInfoSubmit" />
					<button class="ipadExit forgotInfoExit">Cancel</button>
				</form>
			</div>
		</script>
		
		<script type="text/template" id="choose-role-template">		
			<div id="choose-role-form">
				<h3>Welcome</h3>
				<div>
					<p>You are both an admin and a driver.<br/>Please select the role you'd like to assume.</p>
				</div>
				<fieldset class="choose-role-form">
					<form class="choose-role-form">
						<input type="radio" name="role" value="0" required>Admin<br/>
						<input type="radio" name="role" value="1">Driver<br>	
						<input type="submit" value="Submit">										
					</form>
				</fieldset>
			</div> 		
		</script>		
		
		<script type="text/template" id="driver-template">	
			<div id="userInfo">
				Signed in as <%= $.cookie('user').name %> (<a href="#" class="log-out">Log out</a>)<br/>
				User Info (<a href="" class="user-info">Edit</a>)
			</div>
			<% if( $.cookie('user').isAdmin == true){ %>
				<div id="switchViews">
					Switch to Admin View? (<a href="#" class="switchView">Switch</a>)
				</div><br>		
			<% } %>	
			<div>
				<img class="osnapLogo" src="https://tlt-kgo.s3.amazonaws.com/kurogo/transit/osnap/osnap-logo.png">
			</div>								
			<div class="datagrid">
				<table id='requests'>
					<thead>
						<tr>
							<th colspan="9"><h3><br/>My Assignments</h3>
								<div>
									Filter by Status:
									<select id='requestStatus'>
										<option value="1" selected="selected">Confirmed by Admin</option>
										<option value="2">Accepted by Driver</option>
										<option value="3">Picked Up</option>
										<option value="4">No Show</option>
										<option value="5">Delivered</option>			
										<option value="6">Cancelled</option>								
									</select>
								</div>
							</th>								
						</tr>																		
						<th>Location</th>
						<th>Destination</th>
						<th>Name</th>
						<th>Passengers</th>
						<th>Phone</th>
						<th>Date</th>
						<th>Time</th>
						<th>Status</th>																								
						<th>Assigned To</th>
					</thead>
					<div style="display:none" id="editDriverInfo" title="User Info">
						<div class="tabs">
							<ul>
								<li>
									<a href="#fragment-1"><span>Change Password</span></a>
								</li>
								<li>
									<a href="#fragment-2"><span>Update Email</span></a>
								</li>												
							</ul>
							<div id="fragment-1">
								<form class="changePasswordForm">
									Current Password: <input type="password" required class="currentPassword"><br/>
									New Password: <input type="password" required class="newPassword"><br/>
									Confirm New Password: <input type="password" required class="confirmNewPassword"><br/>
									<input class="driverPasswordSubmit" type="submit" value="Submit" />
									<div class="changePassError" style="display:none">
										<p>New passwords do not match!</p>
									</div>
								</form>
							</div>
							<div id="fragment-2">
								<form class="updateEmailForm">
									Email: <input type="email" required class="userEmail"><br/>
									<input type="submit" class="emailUpdateSubmit" value="Submit" style="display:none"/>
								</form>
							</div>
						</div>
					</div>																											
					<tfoot>
						<tr>
							<td colspan="9">
							<div id="paging">
								<ul>
									<li id="prev" style="visibility:hidden"><a class="uiButton" href="#"><span class="uiButtonText" id="prev">Previous</span></a></li>
									<li id="next" style="visibility:hidden"><a class="uiButton" href="#"><span class="uiButtonText" id="next">Next</span></a></li>										
								</ul>
							</div> 
						</tr>
					</tfoot>							
				</table>
			</div>			
		</script>
				
		<script src="js/config.js"></script>
		<script src="js/lib/jquery.min.js"></script>
		<script src="js/lib/underscore-min.js"></script>
		<script src="js/lib/backbone-min.js"></script>	
		<script src="js/lib/backbone.notifier.js"></script>		
		<script src="js/lib/jquery-dateFormat.min.js"></script>
		<script src="js/lib/jquery-ui.js"></script>
		<script src="js/lib/jquery.cookie.js"></script>	
		<script src="js/models/user.js"></script>
		<script src="js/models/ride.js"></script>	
		<script src="js/models/admindata.js"></script>				
		<script src="js/collections/rides.js"></script>			
		<script src="js/collections/users.js"></script>	
		<script src="js/collections/admindatac.js"></script>				
		<script src="js/views/RideView.js"></script>
		<script src="js/views/RidesView.js"></script>		
		<script src="js/views/AdminDataView.js"></script>	
		<script src="js/views/LoginView.js"></script>	
		<script src="js/views/DriverView.js"></script>
		<script src="js/views/ChooseRoleView.js"></script>	
		<script src="js/views/ManageAccessView.js"></script>							
		<script src="js/app.js"></script>		
	</body>
</html>
