.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 42em;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 10em;
    background: #ddd;
    border-radius: 4px 0 0 4px;
    border-right: 1px #EEEEEE;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    margin: 0.2em 0;
    border: 1px solid gray;
    border-width: 1px 0 1px 1px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a { 
    display: block;
    width: 100%;
    padding: 0.6em 1em;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px #EEEEEE;
	background: #EEEEEE;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 28em;
    border-left: 1px #EEEEEE;
    border-radius: 0;
    position: relative;
    left: -1px;
}

body {
	background-color: #F5F5F5;
	font-family: "helvetica";
}

fieldset.choose-role-form {
	width: 200px;
}

form.adminData {
	width: 525px;
}

form.manageUsers {
	width: 500px;
}

form.adminData{
	float: left;
}

form.manageUsers {
	float: right;
}

div#resultsText {
	max-height: 200px;
	overflow-y: scroll;
}
div#allLogs.ui-dialog-content.ui-widget-content {
	max-width: 550px;
}

.datagrid table {
	 border-collapse: collapse; 
	 text-align: left; 
	 width: 100%;
} 

.datagrid {
	font: normal 12px/150% Georgia, Times New Roman, Times, serif; 
	background: #fff; 
	overflow: hidden; 
	border: 1px solid #8C8C8C; 
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px; 
	border-radius: 7px; 
}

.datagrid table td, .datagrid table th { 
	padding: 5px 1px; 
}

.datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
	background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
	background-color:#8C8C8C; 
	color:#FFFFFF; 
	font-size: 14px; 
	font-weight: bold; 
	border-left: 1px solid #A3A3A3; 
} 

.datagrid table thead th:first-child { 
	border: none; 
}

thead {
	text-align: center;
}

.datagrid table tbody td { 
	color: #000000; 
	border-left: 1px solid #DBDBDB;
	font-size: 12px;
	font-weight: normal; 
}

.datagrid table tbody .alt td { 
	background: #EBEBEB;
	color: #000000;
}

.datagrid table tbody .cancelled td { 
	background: #FF0000;
	color: #000000;
}

.datagrid table tbody td:first-child { 
	border-left: none; 
}

.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
}

.datagrid table tfoot td div { 
	border-top: 1px solid #8C8C8C;
	background: #EBEBEB;
} 

.datagrid table tfoot td { 
	padding: 0; 
	font-size: 12px; 
} 

.datagrid table tfoot td div{ 
	padding: 2px; 
}

.datagrid table tfoot td ul { 
	margin: 0; 
	padding:0; 
	list-style: none; 
	text-align: right; 
}

.datagrid table tfoot  li { 
	display: inline; 
}

.datagrid table tfoot li a { 
	text-decoration: none; 
	display: inline-block;  
	padding: 2px 8px; 
	margin: 1px;
	color: #F5F5F5;
	border: 1px solid #8C8C8C;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
	background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
	background-color:#8C8C8C; 
}

li#liAdminData, li#genLogs, li#liAddNew {
	float: left;	
}

.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
	text-decoration: none;
	border-color: #7D7D7D; 
	color: #F5F5F5; 
	background: none; 
	background-color:#8C8C8C;
}

div.dhtmlx_window_active, div.dhx_modal_cover_dv { 
	position: fixed !important; 
}

.anfPhoneError, .changePassError {
	color: red;
}

#serviceRunning, #serviceStopped {
	margin-top: -12px;
	text-align: center;
	position: absolute;
	left: 335px;
	top: 80px;
}

#ssM, #srM {
        padding-left:10px;
	vertical-align: text-bottom;
}

#userInfo {
	position: absolute;
	right:50px;
	top: 84px;
	font-size: 14px;
	color: #ffffff;
}

#switchViews {
	position: absolute;
	right:44px;
	top:116px;
	font-size: 14px;
	color: #ffffff;
}

#switchViews  a, #userInfo a {
	color: #ffffff;
}

.serviceIcon {
	max-height: 18px;
	max-width: 18px;
}

.content {
	position: relative;
}

.osnapLogo {
	display: block;
	float: left;
	max-height: 50px;
	max-height: 120px;
}

.ipadExit {
	display:none;
}


tr select:not(#requestStatus) {
        overflow: hidden;
        background-color: transparent;
        border: 0px solid #ccc;
        text-align: left;
        width: 100%;
}

#requestStatus {
	vertical-align: text-bottom;
}

#buttonBarTable {
	display:inline-block;
}

#pageNoDiv {
	display:inline-block;
}

a.pageNoSelected {
	background: #646363 !important;
}

table {
	font-family: "helvetica";
}

#textRow2TableHeader {
	position: absolute;
	top: 90px;
	left: 335px; 
}

.ellipsis {
	font-size: 16px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	vertical-align: bottom;
}

.openStatusNew {
	background: #F5858D !important;
}

.openStatusConfirmed {
	background: #E56565 !important;
}

.openStatusAccepted {
	background: #5EC27D !important;
}

.openStatusPickedUp {
	background: #5CA658 !important;
}

.shortNameWarning {
	color: red;
	font-size: 80%;
	vertical-align: middle;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
	tr select:not(#requestStatus) {
        	overflow: hidden;
        	background-color: transparent;
        	border: 0px solid #ccc;
        	text-align: left;
        	width: 100%;
		background: url("../img/down_arrow.png") no-repeat right;
		background-size: 20px 20px;
		background-position: 95%;
		font-size: 150%;
	}

	.ipadTdSpan {
		font-size: 150%;
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
	}

	#requests {
		max-height: 800px;
	}

	#requestStatus {
		height:125%;
	}

	#serviceStopped, #serviceRunning {
		top: 40px;
	}

	#userInfo {
		top:60px;
		right:40px;
	}

	#userInfo, #switchViews {
		font-size:100%;
	}

	#switchViews {
		top: 108px;
	}

	.uiButtonText {
		position:relative;
		top:30%;
	}

        .uiButton {
                height: 50px;
		font-size:200%;
        }

        .ipadExit {
        	color:#E00000;
		display:block;
		margin-top:25px; 
	}

	#exitNewRequest, #closeEditIpad {
		display:inline-block;
	}

	.serviceIcon {
		margin-top:10px;
		max-width:40px;
		max-height:40px;
	}

	#ssM, #srM {
		vertical-align: super;
		font-size:120%;
		color: white;
		display:inline-block;
		max-width:125px
		margin-top:10px;
		padding-left:5px;
	}

	#textRow1TableHeader {
		font-size:225%
	}

	#textRow2TableHeader {
		font-size:150%;
		top: 85px;
	}

	#requestStatus {
		height: 25px;
		min-width: 25px;
	}

	select {
		min-height:35px;
		min-width:50px;
	}

	#viewLog {
		max-width: 50px;
		height: 500%;
		max-height:100px;
	}

	input[type="radio"] {
		height:35px;
		width:35px;
	}

	.ui-dialog-titlebar-close {
  		visibility: hidden;
	}

	form.adminData, form.newLocationForm {
		width:400px;	
	}

	.editButton {
		margin-bottom:25px;
	}
}
